@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

@import "tailwindcss";

@theme {
    /* Custom Colors */
    --color-white-primary: #F8F7F7;
    --color-black-primary: #11130D;
    --color-sage-green: #94B68F;

    /* Custom Font Family */
    --font-gilroy-bold: "Gilroy-Bold", sans-serif; 
    
}